[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-tinymce4-lite = "*"
django-crispy-forms = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
